nav ul  
{ display:flex;
	justify-content:space-between;
	padding-left:660px; 
	padding-right:40px;
	list-style-type:none;
	color:white;
	font-family:arial black;
	
}
.logo
{

width:160px;
height:130px;
justify-content:left;
}
.accueil,.cec,.soluutions
{text-decoration:none;
	color:white;
	font-size:0.8em;
}
.accueil:hover,.cec:hover,.soluutions:hover
{
	text-decoration:underline;
}
h1
{ 
color:red;
}

body
{
	color:white;
    background-color:black;
	overflow-wrap:anywhere;
	font-size:1.1em;
}
.cause
{	
float:right;
height:24%;
width:40%;
}
h3
{
	color:red;
}
.cons
{
	justify-content:center;
	height:	20%;
	width:70%;
}
.conse
{
	float:right;
	height:220px;
}
